@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.App .App-header {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.flashcards {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.flashcards div {
  margin: 2rem;
  width: 23%;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  height: 15rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

@media (max-width: 500px) {
  .flashcards div {
    width: 90%;
  }
}

div.selected {
  background-color: greenyellow;
  transition: transform 1s;
  transform-origin: center;
  transform: rotateY(360deg);
}
